@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

/* making sure the whole website uses this font */
* {
  font-family: "Outfit", sans-serif;
}

/* hiding the scrollbar */
::-webkit-scrollbar {
  display: none;
}
